In [1]:
'spam eggs'  # single quotes

'spam eggs'

In [2]:

"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [3]:
'1975'  # digits and numerals enclosed in quotes are also strings

'1975'

In [5]:
"fist line. \nsecond line"

'fist line. \nsecond line'

In [10]:
s = "fist line. \nsecond line"
print(s)

fist line.
second line

In [13]:
s = "fist line. \tsecond line"
print(s)

fist line. 	second line

### If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [19]:
print('C:\some\name') ## here \n means newline! so we shoudl use raw strings by adding an r before the first quote such scenarios

C:\some
ame

In [16]:
print(r'C:\some\name')

C:\some\name

# Can I end a raw string with an odd number of backslashes?
### A raw string ending with an odd number of backslashes will escape the string’s quote:

In [20]:
r'C:\this\will\not\work\'

SyntaxError: unterminated string literal (detected at line 1); perhaps you escaped the end quote? (1722086639.py, line 1)

In [24]:
print(r'C:\this\will\not\work\')

SyntaxError: unterminated string literal (detected at line 1); perhaps you escaped the end quote? (1873194005.py, line 1)

#### There are several workarounds for this. One is to use regular strings and double the backslashes:

In [25]:
'C:\\this\\will\\work\\'

'C:\\this\\will\\work\\'

In [27]:
'D:\\folder1\\subfolder2\\innersubfolde\\'

'D:\\folder1\\subfolder2\\innersubfolde\\'

In [29]:
r'C:\this\will\work'

'C:\\this\\will\\work'

In [30]:
r'C:\this\will\work' '\\'

'C:\\this\\will\\work\\'

In [31]:
"one" "two"

'onetwo'

In [33]:
r'backslash\'preserved'

"backslash\\'preserved"

# String literals can span multiple lines.

In [44]:
a = """ 
    Hi, 
    Ramu
    ho ware you 
    """
print(a)

    Hi,
    Ramu
    ho ware you

In [36]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [48]:
json = """
{
   name : arjun,
   id   : 111
   address: python world
}
"""

print(json)

{
   name : arjun,
   id   : 111
   address: python world
}

In [59]:
# Strings can be concatenated (glued together) with the + operator, and repeated with *:

#3*"boss"+ test
print(3 * 'un' + 'ium')

unununium

In [60]:
# 3 times 'un', followed by 'ium'
3 * 'hi' + 'sai'

'hihihisai'

In [63]:
text  = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [64]:
'Py' 'thon'

'Python'

In [67]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [68]:
print('Py' 'thon')

Python

# indexed

In [70]:
text = "hi"
text

'hi'

In [71]:
text = "test"
text

'test'

In [77]:
text = "hi how are you"
text

'hi how are you'

In [93]:
text = "hi how are you" # hi how are you" index strat with 0
print(text)
print(text[0])
print(text[5])
print(len(text)) #14
print(text[13]) #last car length -1
print(text[-1]) #last car with negative index start with -1
print(text[-2]) #second char from last
#print(text[20]) #IndexError: string index out of range

hi how are you
h
w
14
u
u
o

# Slicing sequences
### Syntax: sequence[start:stop:step]

#### start_index includes
#### stopt_index exludes
#### step_index alternative chars

In [109]:
text = "hello world" # hi how are you" index strat with 0
print(text[1:4]) #  output is (ell) . Here strat char included, end char exluded
print(text[2:5]) #  llo
print(text[0:5]) # if not passing the start index, default 0 
print(text[6:]) # if not passing the stop index, default length of the seq
print(text[:]) # entire String

print(len(text)) # length is 11
print(text[1:8:2]) # entire String [start_index : stop_index : step_index]

ell
llo
hello
world
hello world
11
el o

In [120]:
text = "IamFromPythonWorld" # hi how are you" index strat with 0
print(len(text))
print(text[1:15:2]) #alternative char form 1 to 15 index. 1 will be included and 15 excluded
print(text[1:15:4]) #aotW start with idex 1 to index 15 at every 4th char
print(text[::1]) #IamFromPythonWorld
print(text[::2])
print(text[::3])
print(text[::4])

18
aFoPtoW
aotW
IamFromPythonWorld
Imrmyhnol
IFmtnr
Irynl

# Reverse String

In [122]:
text

'IamFromPythonWorld'

In [125]:
print(text[::-1]) # reverse order 
print(text[::-2]) # reverse order by alternative char
print(text[::-3]) # reverse order by each 3rd alternative char

dlroWnohtyPmorFmaI
drWotPoFa
dooyom

In [133]:
print('z' * 10)
print('a -'*5)
print('hello ' * 10)

zzzzzzzzzz
a -a -a -a -a -
hello hello hello hello hello hello hello hello hello hello

In [134]:
2 + 3

5

In [135]:
'2' + '3'

'23'

In [146]:
 x ='hellow'
print(x.upper())
print(x) # String are immutable

HELLOW
hellow

In [147]:
x ='hellow'
x = x.upper()
print(x)

HELLOW

In [148]:
 x ='hellow'
print(x.split())

['hellow']

In [154]:
 x ='hellow how are you doing'
print(x.split())  # default split with white space and return a list
# ['hellow', 'how', 'are', 'you', 'doing']

['hellow', 'how', 'are', 'you', 'doing']

In [155]:
print(x.split('h')) #

['', 'ellow ', 'ow are you doing']

In [156]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [157]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")


print(x)

['apple', 'banana', 'cherry', 'orange']

# Split() function syntax
## string.split(separator, maxsplit) 
###### separator  ->	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
###### maxsplit	  ->    Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [159]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [164]:
txt = "apple#banana#cherry#dragonfruit#orange"
x = txt.split('#',-1)
print(x)

['apple', 'banana', 'cherry', 'dragonfruit', 'orange']

In [166]:
txt = "apple#banana#cherry#orange"

print(txt.split("#"))
print(txt.split('#',-1))

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [167]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [168]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Placeholders and Modifiers
### A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [175]:
name = "arjun"
age = 20

result  = "my name is {name} and my age is {age}"
print(result)

my name is {name} and my age is {age}

In [239]:
name = "arjun"
age = 20

result  = f"my name is {name} and my age is {age}" # formatign without formate funtion
print(result)

print('my name is {1} and my age is {0}'.format(name, age))
print('my name is {name} and my age is {age}'.format(name=name, age=age))

my name is arjun and my age is 20
my name is 20 and my age is arjun
my name is arjun and my age is 20

In [182]:
price =10
text = f' my pen price is {price}'
print(text)

 my pen price is 10

In [184]:
price = 59
txt = f'The price is {price:.2f} dollars'
print(txt)

The price is 59.00 dollars

In [186]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [187]:
txt = "We are the so-called "Vikings" from the NORTH."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [189]:
txt = "We are the so-called \'Vikings\' from the north."
print(txt)

We are the so-called 'Vikings' from the north.

In [192]:
print(txt.casefold())
print(txt.lower())
print(txt.casefold())

we are the so-called 'vikings' from the north.
we are the so-called 'vikings' from the north.

In [193]:
print(txt)

We are the so-called 'Vikings' from the north.

In [198]:
print("How are you {} ".format("arjun"))

How are you arjun

In [201]:
print('How are you {}, How are you {} '.format('arjun', 'doing'))

How are you arjun, How are you  doing

In [204]:
print('How are you {1}, How are you {0}'.format('arjun', 'doing'))

How are you doing, How are you  arjun

In [205]:
print('How are you {a}, How are you {b}'.format( a= 'arjun', b = 'doing'))

How are you arjun, How are you  doing

In [206]:
print('How are you {a}, How are you {a}'.format( a= 'arjun', b = 'doing'))

How are you arjun, How are you arjun

In [207]:
result =100/177

In [208]:
print(result)

0.5649717514124294

In [226]:
print('the result is {}'.format(result))
print('the result is {f}'.format(f = result))
new_esult = round(result, 2)
print(new_esult)
print('the result is {f}'.format(f = round(result, 2)))

the result is 0.5649717514124294
the result is 0.5649717514124294
0.56
the result is 0.56

In [221]:
    print(round(2.5))  # Output: 2
    print(round(3.5))  # Output: 4
    print(round(3.14159, 2)) # Output: 3.14

2
4
3.14

In [231]:
print('the result is {r:1.2f}'.format(r=result)) #rouning with formate

the result is 0.56