In [1]:
a = ('a','a','b')

In [2]:
a

('a', 'a', 'b')

In [8]:
a.count('a')

2

In [9]:
a.index('a')

0

In [14]:
a = ('a','a','b','r','T')
print(a.index('r'))
print(a.count('a'))
print()
print(a.count('z'))
#print(a.index('z'))  ValueError: tuple.index(x): x not in tuple

3
2

0

In [16]:
a = ('a','a','b','a','a')
print(a.index('a')) # it will return first occurence of the index

0

# List are mutable but Tuple is immutable

In [22]:
my_list = [1, 2, 3, 45]
my_tuple = (1, 2, 3, 45)

my_list

[1, 2, 3, 45]

In [23]:
my_tuple

(1, 2, 3, 45)

In [24]:
my_list[0] = 'new'
my_list

['new', 2, 3, 45]

In [27]:
my_tuple[0] = 1000 # TypeError: 'tuple' object does not support item assignment
my_tuple

TypeError: 'tuple' object does not support item assignment

#### Create Tuple With One Item To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [29]:
thistuple = ("apple")
print(type(thistuple))

#NOT a tuple
thistuple = ("apple","")
print(type(thistuple))

<class 'str'>
<class 'tuple'>

In [32]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [33]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [34]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# access Tuple

In [40]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(thistuple[1])
print(thistuple[-1])

('apple', 'banana', 'cherry')
banana
cherry

In [41]:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [42]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

# Update Tuple

#### Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [54]:
x = ("apple", "banana", "cherry")
y = list(x) #convert the tuple into a list,
print(x)
print(y)

y[1] = "kiwi"
print(y)

x = tuple(y) #convert the list into a tuple,

print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

In [68]:
my_tuple =('one', 'two','three')
print(my_tuple)
#my_tuple.append('five') # AttributeError: 'tuple' object has no attribute 'append'
print(my_tuple)

my_list = list(my_tuple)
my_list.append('four')

my_tuple = tuple(my_list)
print(my_tuple)

('one', 'two', 'three')
('one', 'two', 'three')
('one', 'two', 'three', 'four')

In [69]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [70]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [73]:
fruits = ("apple", "banana")

(green, yellow, red) = fruits # ValueError: not enough values to unpack (expected 3, got 2)

print(green)
print(yellow)
print(red)

ValueError: not enough values to unpack (expected 3, got 2)

In [75]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits # Assign the rest of the values as a list called "red":

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [76]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits # Add a list of values the "tropic" variable:

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [100]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))
for y in thistuple:
  print(y)
print(len(thistuple))

('apple', 'banana', 'cherry')
3
apple
banana
cherry
3

# Use the range() and len() functions to create a suitable iterable.

In [101]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
               print(thistuple[x])
print(len(thistuple))

apple
banana
cherry
3

In [92]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [93]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
for x in thistuple:
  print(x)
print(len(thistuple))

3
apple
banana
cherry
3

In [102]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [105]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')