# Set
### A set is a collection which is unordered, unchangeable*, and unindexed. 

###### * Note: Set items are unchangeable, but you can remove items and add new items.

In [4]:
my_set = set()
type(my_set)

set

In [5]:
print(my_set)

set()

In [7]:
my_set = {1}
print(my_set)

{1}

In [8]:
my_set.add(2)
print(my_set)

{1, 2}

In [10]:
my_set.add("string') #SyntaxError: unterminated string literal (detected at line 1)

SyntaxError: unterminated string literal (detected at line 1) (1018922618.py, line 1)

In [11]:
my_set

{1, 2}

In [16]:
my_set = {1,2}
my_set.add(3)
my_set.add(2) #Duplciate doesn't allowed
my_set

{1, 2, 3}

In [22]:
my_list = [100, 4, 1,1,1,2,3,4,5,2,2,2,1]
print(set(my_list)) # remvoes doesn't from the list and set does not have order

{1, 2, 3, 100, 4, 5}

In [23]:
print(set('Mississippi')) #removes duplicate chars

{'p', 'M', 'i', 's'}

# Methods

#### Join set1 and set2 into a new set:

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

##### You can use the | operator instead of the union() method, and you will get the same result.

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'c', 'cherry', 'Elena', 'a', 'b', 'apple', 'John', 'bananas'}

In [32]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'c', 'cherry', 'Elena', 'a', 'b', 'apple', 'John', 'bananas'}

### The update() method inserts all items from one set into another.

#### The update() changes the original set, and does not return a new set.

In [41]:
set1 ={1,2,4,5}
set2 = {'one','two'}
print(set1)
print(set2)
print()
set1.update(set2) # it does not return any set
print(set1)
print(set2)

{1, 2, 4, 5}
{'two', 'one'}

{1, 2, 'two', 4, 5, 'one'}
{'two', 'one'}

In [43]:
set1 ={1,2,4,5}
set2 = {'one','two'}
print(set1)
print(set2)
print()
set3 = set1.union(set2) # it does not return any set
print(set1)
print(set2)
print(set3)

{1, 2, 4, 5}
{'two', 'one'}

{1, 2, 4, 5}
{'two', 'one'}
{1, 2, 'two', 4, 5, 'one'}

In [45]:
"""
    Set Methods
    Python has a set of built-in methods that you can use on sets.
    
    Method		(Symbol)	Description
    ---------------------------------
    add()	 	        	Adds an element to the set (no Symbol)
    clear()	 				Removes all the elements from the set (no Symbol)
    copy()	 				Returns a copy of the set(no Symbol)
    difference()	-		Returns a set containing the difference between two or more sets
    difference_update()	-=	Removes the items in this set that are also included in another, specified set
    discard()	 			Remove the specified item (no Symbol)
    intersection()	&		Returns a set, that is the intersection (common) of two other sets 
    intersection_update()	&=		Removes the items in this set that are not present 
									in other,specified set(s)
                                    
    isdisjoint()	 		Returns whether two sets have a intersection or not(no Symbol)
    
    issubset()		<=	Returns True if all items of this set is present in another set
					<	Returns True if all items of this set is present in another, larger set
					
    issuperset()	>=	Returns True if all items of another set is present in this set
					>	Returns True if all items of another, smaller set is present in this set
					
    pop()	 			Removes an element from the set(no Symbol)
    remove()	 		Removes the specified element(no Symbol)
    symmetric_difference()			^	Returns a set with the symmetric differences of two sets
    symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
    union()							|	Return a set containing the union of sets
    update()						|=	Update the set with the union of this set and others

"""

'\n    Set Methods\n    Python has a set of built-in methods that you can use on sets.\n    \n    Method\t\t(Symbol)\tDescription\n    ---------------------------------\n    add()\t \t        \tAdds an element to the set (no Symbol)\n    clear()\t \t\t\t\tRemoves all the elements from the set (no Symbol)\n    copy()\t \t\t\t\tReturns a copy of the set(no Symbol)\n    difference()\t-\t\tReturns a set containing the difference between two or more sets\n    difference_update()\t-=\tRemoves the items in this set that are also included in another, specified set\n    discard()\t \t\t\tRemove the specified item (no Symbol)\n    intersection()\t&\t\tReturns a set, that is the intersection of two other sets\n    intersection_update()\t&=\t\tRemoves the items in this set that are not present \n\t\t\t\t\t\t\t\t\tin other,specified set(s)\n                                    \n    isdisjoint()\t \t\tReturns whether two sets have a intersection or not(no Symbol)\n    \n    issubset()\t\t<=\tReturns True if all items of this set is present in another set\n\t\t\t\t\t<\tReturns True if all items of this set is present in another, larger set\n\t\t\t\t\t\n    issuperset()\t>=\tReturns True if all items of another set is present in this set\n\t\t\t\t\t>\tReturns True if all items of another, smaller set is present in this set\n\t\t\t\t\t\n    pop()\t \t\t\tRemoves an element from the set(no Symbol)\n    remove()\t \t\tRemoves the specified element(no Symbol)\n    symmetric_difference()\t\t\t^\tReturns a set with the symmetric differences of two sets\n    symmetric_difference_update()\t^=\tInserts the symmetric differences from this set and another\n    union()\t\t\t\t\t\t\t|\tReturn a set containing the union of sets\n    update()\t\t\t\t\t\t|=\tUpdate the set with the union of this set and others\n\n'

In [46]:
set1 = {1,2,3,5,7}
set2 = {5,7,8,9}
set3 = set1.intersection(set2)
print(set3)

{5, 7}