In [37]:
""" Rule Description

‚úÖ Must begin with a letter (A-Z or a-z) or underscore _ 
‚úÖ Can contain letters, numbers, and underscores 
‚ùå Cannot start with a number 
‚ùå Cannot contain special characters (@, #, -, etc.) 
‚ùå Cannot use Python reserved keywords (class, def, if, for, etc.) """

print('Same Rules for Function & Class Names in Python')

Same Rules for Function & Class Names in Python

### Start with a letter or underscore:
##### Variable names must begin with an uppercase or lowercase letter or an underscore (_). They cannot start with a digit (0-9).

In [7]:
a = 10
a

10

In [8]:
A = 10
A

10

In [13]:
_name ='arjun'
_name

'arjun'

### After the initial letter or underscore, variable names can contain letters (A-Z, a-z), digits (0-9), and underscores (_). No other special characters (like hyphens, spaces, or symbols) are permitted.

##### A variable name cannot start with a number
##### A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [14]:
ab = 30
ab

30

In [18]:
a( = 40

SyntaxError: invalid syntax (2027540441.py, line 1)

In [17]:
b- = 30

SyntaxError: invalid syntax (1496028478.py, line 1)

In [24]:
123abc = 100

SyntaxError: invalid decimal literal (2448038799.py, line 1)

### Case-sensitive: 
##### Python variable names are case-sensitive. myVar, myvar, and MyVar are all treated as distinct variables.

In [21]:
myVar =10
myvar = 20
MyVar = 30
Myvar = 40
print(myVar)
print(myvar)
print(MyVar)
print(Myvar)

10
20
30
40

### Avoid Python keywords:
##### Variable names cannot be any of Python's reserved keywords (e.g., if, else, for, while, print, def, class, True, False, None).

In [23]:
while = 20
while

SyntaxError: invalid syntax (1636121873.py, line 1)

## No spaces:

In [ ]:
#Valid: age, user_name, _private_var, data123
#Invalid: 123data (starts with a digit), my-variable (contains a hyphen), my variable (contains a space), for (is a keyword)

# Python Comments

### Single Line Comment

In [28]:
# addition of two numbers
10+5

15

In [29]:
print("Hello, World!") #This is a comment

Hello, World!

### Multi Line Comment

In [30]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

### you can add a multiline string (triple quotes) in your code, and place your comment inside it. Since, Python will ignore string literals that are not assigned to a variable,

In [31]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [71]:
"""

üî∏ 2. Function Naming Conventions (PEP 8)

    Rule Example
        
        Use lowercase letters def calculate_total():
        Use underscores for multiple words def get_user_info():
        Avoid using single-character names (except in trivial contexts) def f() ‚ùå
        Python distinguishes between uppercase and lowercase letters. myFunction is different from myfunction.
        
        Prefix with _ for internal/private functions def _helper():
        Use __dunder__ format only for special methods def __init__():

"""
print("valid funtion name are - my_function, calculateTotal, _helper_function, function123, _data_processor_v2")
print()
print("Invalid funtion name are - 123function, 2_process_data, my-function, calculate total, print! ")

valid funtion name are - my_function, calculateTotal, _helper_function, function123, _data_processor_v2

Invalid funtion name are - 123function, 2_process_data, my-function, calculate total, print!

## Lowercase with underscores (snake_case): Function names should generally be lowercase, with words separated by underscores for readability

In [73]:
print("calculate_average, get_user_input")

calculate_average, get_user_input

In [2]:
"""



üî∏ 3. Class Naming Conventions (PEP 8)

    Rule Example
        
        Use CamelCase (PascalCase) class CustomerData:
        Avoid underscores or lowercase-only names class customer_data: ‚ùå
        Prefix with _ for internal/private classes class _InternalLogger:
        Avoid using built-in names (str, list, dict, etc.) class str: ‚ùå
        MyClass and myclass are considered distinct class names.

"""
print(" valid class name are - MyClass, EmployeeInfo, TotalCostPrice")
print(" invalid class name are - 123Class, My-Class, Class@Name, Class Name")

 valid class name are - MyClass, EmployeeInfo, TotalCostPrice
 invalid class name are - 123Class, My-Class, Class@Name, Class Name

In [1]:
# Valid Class Names
class MyClass:
    pass

class EmployeeInfo:
    pass

class _InternalClass: # Valid, but convention suggests this for internal use
    pass

# Invalid Class Names
# class 123Invalid: # SyntaxError: invalid decimal literal
#     pass

# class Invalid-Class: # SyntaxError: can't assign to operator
#     pass

# class if: # SyntaxError: invalid syntax
#     pass