# While Loop

In [54]:
'''

while any_boolean_condtion:
    # Do something
     
'''

OR
'''

while any_boolean_condtion:
    # Do something

else:
    # do soemthign else
     
'''

'\n\nwhile any_boolean_condtion:\n    # Do something\n     \n'

In [3]:

x = 0
my_tuple = (1, 2, 3, 4,5)
while x < len(my_tuple):
    print(my_tuple[x])
    x =x+1

1
2
3
4
5

#  Indentation is very importance for both While and For loops. IncompleteInputError: incomplete input

In [56]:

x = 0
my_tuple = (1, 2, 3, 4,5)
while x < len(my_tuple):

_IncompleteInputError: incomplete input (1063136690.py, line 4)

In [ ]:

x = 0
my_tuple = (1, 2, 3, 4,5)
while x < len(my_tuple):
    pass
print('pass')

### The pass statement in Python is a null operation, meaning it does nothing. Its primary use is as a placeholder in situations where a statement is syntactically required but no action needs to be performed, or when the implementation of a code block is not yet defined.

# For Loop

In [ ]:
'''

my_iterable = [1,2,3,4]
for item_name in my_iterable:
     print(item_name)
     
'''

In [6]:
my_tuple = (1,2,3,45,68,8)
for x in my_tuple:
    print(x)

1
2
3
45
68
8

In [7]:
my_tuple = (1,2,3,45,68,8)
for x in range(len(my_tuple)):
    print(my_tuple[x])

1
2
3
45
68
8

In [55]:
my_tuple = (1,2,3,45,68,8)
for x in my_tuple:
    print(x)

1
2
3
45
68
8

In [10]:
my_tuple = (1,2,3,45,68,8)
for x in my_tuple:
    print('unknown')

unknown
unknown
unknown
unknown
unknown
unknown

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
    pass
    
print('passed')

# Find the Even numbers and odd numbers

In [17]:
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
    if(num%2==0):
        print('{} is even'.format(num))
    else:
         print('{} is odd'.format(num))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

# Find the sum of the given list

In [19]:
sum = 0
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
   sum = sum+num
print(sum)

45

In [22]:
sum = 0
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
   sum = sum+num
   print(sum)
   print('---') 
print(sum)

1
---
3
---
6
---
10
---
15
---
21
---
28
---
36
---
45
---
45

In [25]:
word ='HELLO'
for i in word:
    print(i)

H
E
L
L
O

In [28]:
for i in 'HELLO':
    print(i)

H
E
L
L
O

In [32]:
for i in 'HELLO':
    print('not used the item name' )

not used the item name
not used the item name
not used the item name
not used the item name
not used the item name

In [ ]:
# so if we are not using the item_name inside the for loop, we can simply use  underscore(_)

In [33]:
for _ in 'HELLO':
    print('not used the item name' )

not used the item name
not used the item name
not used the item name
not used the item name
not used the item name

In [41]:
my_tuple_list = [(1,3,),(2,3,),(4,5,),(6,7)]
len(my_tuple_list)

4

In [34]:
my_tuple_list = [(1,3,),(2,3,),(4,5,),(6,7)]
for item in my_tuple_list:
    print(item)

(1, 3)
(2, 3)
(4, 5)
(6, 7)

In [35]:
my_tuple_list = [{1,3,},{2,3},{4,5},{6,7}]
for item in my_tuple_list:
    print(item)

{1, 3}
{2, 3}
{4, 5}
{6, 7}

In [39]:
my_tuple_list = [(1,3,),(2,3,),(4,5,),(6,7)]
for a,b in my_tuple_list:
    print(a)
    print(b)

1
3
2
3
4
5
6
7

In [42]:
my_tuple_list = [(1,3,5),(2,3,4),(4,5,4),(6,7,5)]
for a,b,c in my_tuple_list:
    print(c)

5
4
4
5

In [46]:

my_dict = {'key1':1,'key2':2,'key3':3 }
for item in my_dict:
    print(item)

key1
key2
key3

In [47]:

my_dict = {'key1':1,'key2':2,'key3':3 }
for item in my_dict.items():
    print(item)

('key1', 1)
('key2', 2)
('key3', 3)

In [49]:

my_dict = {'key1':1,'key2':2,'key3':3 }
for item in my_dict.values():
    print(item)

1
2
3